---
interface Props {
	relativePath: string;
}

const { relativePath } = Astro.props;
---
<a
    class="github-edit-link"
    target="_blank"
    rel="noreferrer"
    href={`https://github.com/fabricjs/fabricjs.github.io/tree/development/src/content/${relativePath}`}
>
    Edit this page on Github
</a>