<ul id="header">
  <li><a href="http://fabricjs.com/">Home</a></li>
  <li><a href="http://fabricjs.com/demos">Demos</a></li>
  <li><a href="http://fabricjs.com/articles">Tutorial</a></li>
  <li><a href="http://fabricjs.com/docs">Docs</a></li>
  <li><a href="http://fabricjs.com/build">Custom Build</a></li>
  <li><a href="http://fabricjs.com/help">Support</a></li>
  <li><a href="http://fabricjs.com/test">Tests/Benchmarks</a></li>
  <li><a href="http://fabricjs.com/team">Team</a></li>
  <li class="github secondary">
    <iframe src="http://ghbtns.com/github-btn.html?user=kangax&repo=fabric.js&type=watch&count=true"
      allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
  </li>
  <li class="twitter secondary">
    <a href="https://twitter.com/fabricjs" class="twitter-follow-button" data-show-count="true">Follow @fabricjs</a>
  </li>
  <li id="carbonads-container">
    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=fabricjscom" id="_carbonads_js"></script>
  </li>
</ul>

<script>
(function() {

  if (document.location.hostname === 'localhost') {
    var links = document.getElementById('header').getElementsByTagName('a');
    for (var i = 0, len = links.length; i < len; i++) {
      // very retarted fix but fuck it
      links[i].href = links[i].href.replace('fabricjs.com', 'localhost:4000');
    }
  }
  else {
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  }
})();
(function() {
  fabric.util.addListener(fabric.window, 'load', function() {
    setTimeout(function() {
      var ads = document.getElementById('carbonads');
      var ads2 = document.getElementById('carbonads-container');
      var style = window.getComputedStyle(ads2);
      if (!ads || style.display === 'none') {
        ads2.style.display = 'inline-block';
        var nag = document.getElementById('nag');
        if (!nag) {
          var newDiv = document.createElement('div');
          newDiv.id = 'carbonads';
          newDiv.className = 'reminder';
          newDiv.innerHTML = 'Do you like fabricJS?<br />If you want it continue running and you do not mind tech related ads, please allow this website in your adblocker.<br /><br />❤️ Thank You!';
          ads2.appendChild(newDiv)
        }
      }
    }, 4000);
  });
})();
</script>
