<ul id="header">
  <li><a href="/">Home</a></li>
  <li><a href="/demos">Demos</a></li>
  <li><a href="/articles">Tutorial</a></li>
  <li><a href="/docs">Docs</a></li>
  <li><a href="/build">Custom Build</a></li>
  <li><a href="/help">Support</a></li>
  <li><a href="/test">Tests/Benchmarks</a></li>
  <li><a href="/team">Team</a></li>
  <li class="github secondary">
    <a class="github-button" href="https://github.com/fabricjs/fabric.js" data-size="large" data-show-count="true" aria-label="Star fabricjs/fabric.js on GitHub">Star</a>
  </li>
  <li class="twitter secondary">
    <a href="https://twitter.com/fabricjs" class="twitter-follow-button" data-show-count="true">Follow @fabricjs</a>
  </li>
</ul>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script>
(function() {
  if (document.location.hostname !== 'localhost') {
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  }
})();
</script>
