---
import Layout from '../layouts/Layout.astro';
import FeaturedBanner from '../components/FeaturedBanner/FeaturedBanner.astro';
import Features from '../components/Features/Features';
---

<Layout title="FabricJS">
	<main class="pageStyles">
        <h1>Page not found</h1>
        <p class="paragraphStyles">
          Sorry 😔, we couldn’t find what you were looking for.
          <br />
          <br />
          <a href="/">Go home</a>
        </p>
	</main>
</Layout>

<style>
  .pageStyles {
    color: '#232129';
    padding: '96px';
  }

  .headingStyles {
    margin-top: 0;
    margin-bottom: 64px;
    max-width: 320px;
  }

  .paragraphStyles {
    margin-bottom: 48px;
  }
</style>