---
import Layout from '../layouts/Layout.astro';
import FeaturedBanner from '../components/FeaturedBanner/FeaturedBanner.astro';
import Features from '../components/Features/Features';
---

<Layout title="FabricJS">
	<main>
		<FeaturedBanner />
		<Features />
	</main>
</Layout>
