---
import './Header.css';
import CarbonAd from '../CarbonAd/CarbonAd';
---

<header id="site-header">
    <a id="logo" href="/">
      <img alt="FabricJS logo" src="/fabricjs-logo.png" />
    </a>
    <nav>
      <ul>
        <li>
          <a href="/">
            Home
          </a>
        </li>
        <li>
          <a href="/demos">
            Demos
          </a>
        </li>
        <li>
          <a href="/docs">
            Docs
          </a>
        </li>
        <li>
          <a href="/api">
            Api specs
          </a>
        </li>
        <li>
          <a href="/support">
            Support
          </a>
        </li>
        <li>
          <a href="/team">
            Team
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <CarbonAd client:idle/>