<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSDoc: <?js= title ?></title>

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
    <link type="text/css" rel="stylesheet" href="styles/carbonads.css">
    <link type="text/css" rel="stylesheet" href="../css/master.css">
</head>

<body>
    <ul id="header">
      <li><a href="http://fabricjs.com/">Home</a></li>
      <li><a href="http://fabricjs.com/demos">Demos</a></li>
      <li><a href="http://fabricjs.com/articles">Tutorial</a></li>
      <li><a href="http://fabricjs.com/docs">Docs</a></li>
      <li><a href="http://fabricjs.com/build">Custom Build</a></li>
      <li><a href="http://fabricjs.com/help">Support</a></li>
      <li><a href="http://fabricjs.com/test">Tests/Benchmarks</a></li>
      <li><a href="http://fabricjs.com/team">Team</a></li>

      <li class="secondary">
        <a href="http://travis-ci.org/#!/kangax/fabric.js">
          <img src="https://api.travis-ci.org/kangax/fabric.js.png?branch=master">
        </a>
      </li>
      <li class="gittip secondary">
        <iframe style="border: 0; margin: 0; padding: 0;"
          src="https://www.gittip.com/kangax/widget.html" width="48pt" height="22pt"></iframe>
      </li>
      <li class="flattr secondary">
        <a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://kangax.github.com/fabric.js"></a>
        <noscript>
          <a href="http://flattr.com/thing/391332/Fabric-js" target="_blank">
            <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" />
          </a>
        </noscript>
      </li>
      <li class="github secondary">
        <iframe src="http://ghbtns.com/github-btn.html?user=kangax&repo=fabric.js&type=watch&count=true"
          allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
      </li>
      <li class="twitter secondary">
        <a href="https://twitter.com/fabricjs" class="twitter-follow-button" data-show-count="true">Follow @fabricjs</a>
      </li>
    </ul>

    <script>
    (function() {
      if (document.location.hostname === 'localhost') {
        var links = document.getElementById('header').getElementsByTagName('a');
        for (var i = 0, len = links.length; i < len; i++) {
          // very retarted fix but fuck it
          links[i].href = links[i].href.replace('fabricjs.com', 'localhost:4000');
        }
      }
      else {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      }
    })();
    </script>
<div id="main">
    <h1 class="page-title"><?js= title ?></h1>
    <?js= content ?>
</div>
<nav>
    <div class="upperNav" >
    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=fabricjscom" id="_carbonads_js"></script>
    <script>
      (function() {
        var cx = '001658083293066718026:dbxamnxeuku';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
          '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>
    <div class="lowerNav" >
        <?js= this.nav ?>
    </div>
</nav>
<footer><input id="toggle" type="checkbox" onclick="toggle(this.checked);"  /><label for="toggle" >Hide inherited properties and method from the page</label><br />Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?>
</footer>
<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
<script>
function toggle(displayState) {
    var value =  displayState ? 'none' : 'block';
    var elements = document.getElementsByClassName('inherited');
    for (var i = 0; i < elements.length; i++) {
        elements[i].style.display = value;
    }
}
</script>
</body>
</html>
