<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} — Fabric.js Javascript Canvas Library</title>
    <link rel="stylesheet" href="../css/master.css">
    <link rel="stylesheet" href="../css/ads.css">
    <link rel="stylesheet" href="/article_assets/bootstrap.css">
    <script src="../js/master.js"></script>
    <script src="../lib/fabric.js"></script>
  </head>
  <body>
    {% include header2.html %}
    <div id="bd-wrapper">
      <div class="container">
      {{ content }}
      </div>
    </div>
  </body>
</html>
